@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
--White: hsl(0, 0%, 100%);
--Light-gray: hsl(212, 45%, 89%);
--Grayish-blue: hsl(220, 15%, 55%);
--Dark-blue: hsl(218, 44%, 22%)
}

body {
    background-color: var(--Light-gray);
    font-size: 15px;
    min-height: 100dvh;    
    display: flex;
    justify-content: center;
    font-family: 'Outfit', sans-serif;
    flex-direction: column;
    align-items: center;
    margin: 1.25rem;
   
}
.container {
background-color: var(--White);
margin-bottom: 2rem;
max-width: 25rem;
padding: 1rem;
border-radius: 2.5%;
align-items: center;

}

img {
    max-width: 100%;
    border-radius: 2.5%;
}

h1 {
    color: var(--Dark-blue);
    text-align: center;
    margin-top: 1rem;
}
p {
    margin-top: 0.25rem;
    color: var(--Grayish-blue);
    text-align: center;
    padding: 1rem;
}

@media (min-width: 500px) {
    .container {
        width: 400px;
    }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }